In [1]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

#CONSTANTS declaration
__file__ = "./dat/province_code.xlsx"
PAGES_HREF = {'Khái quát': '/khai-quat', 'Theo môn': '/theo-mon', 'Theo tỉnh/thành': '/theo-tinh-thanh', 'Theo ban/khối': '/theo-ban-khoi', 'Theo khu vực/vùng miền': '/theo-vung-mien', 'Nơi thử nghiệm': '/thu-nghiem' }
BASE_DIR_DATA = "./dat/{}.csv"

#Other functions
def get_data(ref_province):
    data_wrapper = {}
    for province_id in range(64):
        try:
            data_wrapper[ref_province[ref_province["SỐ TT CỤM THI"] == province_id]["ĐIẠ PHƯƠNG"].values[0]] = pd.read_csv(BASE_DIR_DATA.format(province_id))
        except FileNotFoundError:
            pass
    return data_wrapper

"""
    Core variable for data in this app. This is the container of examination result of 62/63 provinces in Vietnam.
    province_ref : contains (id, geophraphical_name) E.g: (1, "TP.HCM")
    data_wraper  : dictionary of { id: DataFrame} which DataFrame contains examination result
"""
province_ref = pd.read_excel(__file__)
data_wrapper = get_data(province_ref)
test = pd.concat(data_wrapper.values()).reset_index().drop(columns=['index'])

In [4]:
test = pd.concat(data_wrapper.values()).reset_index().drop(columns=['index'])

In [45]:
test['KHỐI D'].mode()

0    14.2
dtype: object

In [2]:
test.head()

,SBD,TOÁN,VĂN,LÝ,HÓA,SINH,SỬ,ĐỊA,GDCD,ANH,KHTN,KHXH,KHỐI A,KHỐI B,KHỐI C,KHỐI D,KHỐI A1
0,1063438,3.0,3.5,2.75,3.25,2.75,2.50,5.50,5.50,2.6,2.92,4.50,9.0,9.00,11.50,9.1,8.35
1,1063463,4.0,3.0,2.75,3.75,4.50,1.50,5.00,5.75,3.0,3.67,4.08,10.5,12.25,9.50,10,9.75
2,1063464,5.0,3.0,3.75,2.25,3.50,3.50,5.75,5.75,3.0,3.17,5.00,11.0,10.75,12.25,11,11.75
3,1063470,2.6,4.5,2.00,3.50,3.25,1.75,4.25,6.25,3.0,2.92,4.08,8.1,9.35,10.50,10.1,7.60
4,1063477,3.2,5.0,2.00,3.00,3.00,2.50,4.00,7.00,3.4,2.67,4.50,8.2,9.20,11.50,11.6,8.60

In [32]:
test[test['SBD'] ==  106347].values.shape[0] == 0

True

In [8]:
test.describe()

,SBD,TOÁN,VĂN,LÝ,HÓA,SINH,SỬ,ĐỊA,GDCD,ANH,KHTN,KHXH,KHỐI A,KHỐI B,KHỐI C,KHỐI A1
count,8.277630e+05,823976.000000,809844.000000,354554.000000,358449.000000,350220.000000,503742.000000,489044.000000,426381.000000,730909.000000,345462.000000,420853.000000,352192.000000,350120.000000,488393.000000,336928.000000
mean,2.878327e+07,4.869181,5.419870,4.951471,4.851609,4.538225,3.789503,5.467460,7.131536,3.924110,4.778271,5.501910,15.499799,15.088082,14.567428,15.018494
std,1.934710e+07,1.453694,1.465532,1.549535,1.539051,1.247654,1.240106,1.261482,1.234873,1.577087,1.096763,1.004653,3.680329,3.237084,3.253977,3.492587
min,1.000019e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.200172e+07,3.800000,4.500000,3.750000,3.750000,3.750000,3.000000,4.750000,6.500000,2.800000,4.000000,4.830000,13.050000,12.950000,12.250000,12.650000
50%,3.001086e+07,5.000000,5.500000,5.000000,4.750000,4.500000,3.500000,5.500000,7.250000,3.600000,4.750000,5.500000,15.600000,15.100000,14.500000,14.900000
75%,4.500150e+07,6.000000,6.500000,6.000000,6.000000,5.250000,4.500000,6.250000,8.000000,4.600000,5.580000,6.170000,18.000000,17.200000,16.750000,17.300000
max,6.400622e+07,10.000000,9.750000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.330000,9.580000,29.050000,29.550000,28.500000,28.950000

In [11]:
test.describe()['SBD']['count']

827763.0

In [17]:
test.describe().loc['mean', :]['TOÁN']

4.869180655747113

In [19]:
test.describe().loc['mean', :].keys()

Index(['SBD', 'TOÁN', 'VĂN', 'LÝ', 'HÓA', 'SINH', 'SỬ', 'ĐỊA', 'GDCD', 'ANH',
       'KHTN', 'KHXH', 'KHỐI A', 'KHỐI B', 'KHỐI C', 'KHỐI A1'],
      dtype='object')

In [20]:
test.describe().loc['mean', :].keys()

Index(['SBD', 'TOÁN', 'VĂN', 'LÝ', 'HÓA', 'SINH', 'SỬ', 'ĐỊA', 'GDCD', 'ANH',
       'KHTN', 'KHXH', 'KHỐI A', 'KHỐI B', 'KHỐI C', 'KHỐI A1'],
      dtype='object')

In [36]:
test.describe().iloc[1].values

array([2.87832745e+07, 4.86918066e+00, 5.41986993e+00, 4.95147072e+00,
       4.85160946e+00, 4.53822526e+00, 3.78950336e+00, 5.46746049e+00,
       7.13153553e+00, 3.92411011e+00, 4.77827124e+00, 5.50191041e+00,
       1.54997993e+01, 1.50880824e+01, 1.45674282e+01, 1.50184936e+01])

In [23]:
test.describe().columns.values

array(['SBD', 'TOÁN', 'VĂN', 'LÝ', 'HÓA', 'SINH', 'SỬ', 'ĐỊA', 'GDCD',
       'ANH', 'KHTN', 'KHXH', 'KHỐI A', 'KHỐI B', 'KHỐI C', 'KHỐI A1'],
      dtype=object)

In [57]:
desc = test.describe().round(2)

In [58]:
desc

,SBD,TOÁN,VĂN,LÝ,HÓA,SINH,SỬ,ĐỊA,GDCD,ANH,KHTN,KHXH,KHỐI A,KHỐI B,KHỐI C,KHỐI A1
count,827763.00,823976.00,809844.00,354554.00,358449.00,350220.00,503742.00,489044.00,426381.00,730909.00,345462.00,420853.00,352192.00,350120.00,488393.00,336928.00
mean,28783274.51,4.87,5.42,4.95,4.85,4.54,3.79,5.47,7.13,3.92,4.78,5.50,15.50,15.09,14.57,15.02
std,19347095.61,1.45,1.47,1.55,1.54,1.25,1.24,1.26,1.23,1.58,1.10,1.00,3.68,3.24,3.25,3.49
min,1000019.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,12001724.50,3.80,4.50,3.75,3.75,3.75,3.00,4.75,6.50,2.80,4.00,4.83,13.05,12.95,12.25,12.65
50%,30010856.00,5.00,5.50,5.00,4.75,4.50,3.50,5.50,7.25,3.60,4.75,5.50,15.60,15.10,14.50,14.90
75%,45001499.50,6.00,6.50,6.00,6.00,5.25,4.50,6.25,8.00,4.60,5.58,6.17,18.00,17.20,16.75,17.30
max,64006216.00,10.00,9.75,10.00,10.00,10.00,10.00,10.00,10.00,10.00,9.33,9.58,29.05,29.55,28.50,28.95

In [59]:
for index, row in desc.iterrows(): 
    print(index)

for index, row in desc.iterrows(): 
    print(row.name)

count
mean
std
min
25%
50%
75%
max
count
mean
std
min
25%
50%
75%
max

In [43]:
desc[['TOÁN', 'VĂN', 'LÝ', 'HÓA', 'SINH', 'SỬ', 'ĐỊA', 'GDCD', 'ANH',
       'KHTN', 'KHXH']]

,TOÁN,VĂN,LÝ,HÓA,SINH,SỬ,ĐỊA,GDCD,ANH,KHTN,KHXH
count,823976.000000,809844.000000,354554.000000,358449.000000,350220.000000,503742.000000,489044.000000,426381.000000,730909.000000,345462.000000,420853.000000
mean,4.869181,5.419870,4.951471,4.851609,4.538225,3.789503,5.467460,7.131536,3.924110,4.778271,5.501910
std,1.453694,1.465532,1.549535,1.539051,1.247654,1.240106,1.261482,1.234873,1.577087,1.096763,1.004653
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.800000,4.500000,3.750000,3.750000,3.750000,3.000000,4.750000,6.500000,2.800000,4.000000,4.830000
50%,5.000000,5.500000,5.000000,4.750000,4.500000,3.500000,5.500000,7.250000,3.600000,4.750000,5.500000
75%,6.000000,6.500000,6.000000,6.000000,5.250000,4.500000,6.250000,8.000000,4.600000,5.580000,6.170000
max,10.000000,9.750000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.330000,9.580000

In [60]:
desc['KHỐI C']

count    488393.00
mean         14.57
std           3.25
min           0.00
25%          12.25
50%          14.50
75%          16.75
max          28.50
Name: KHỐI C, dtype: float64